
body{ background-image:url(golden-casino-cards-dice-green.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;

}

h1.title{
    text-align: center;
    color: rgb(243, 241, 248);
    
}

h2.g1{
    text-align: center;
    color: red;
}

p.lucky{
text-align: center;
color: gold;
}
#gameOutput {
    white-space: pre-wrap;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

h2.rps{
    text-align: center;
    color: red;
}

div.Score {
    color: gold;
}

#gameArea {
    display: none;
    margin-top: 20px;
}
#gameOutput {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
}